@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
    --primary: #FFA43B;
    --primary-dark: #E97A35;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #D3D4DB;
    --white: #FFFFFF;
    --body: #FEFEFE;
}

::selection {
    color: var(--white);
    background: var(--primary);
}
::-moz-selection {
    color: var(--white);
    background: var(--primary);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

.btn {
    border-radius: 8px;
}

.btn-primary, .btn-outline-secondary {
    padding: 12px 20px;
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* Header */
header .navbar .btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

header .navbar {
    padding: 32px 0;
}

header .nav-link {
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
}

header .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--black);
}

.buttons {
    padding-top: 69px;
}
.buttons .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.text-header h2 {
    font-size: 42px;
    padding: 27px 0;
}

/* FOOTER */
footer {
    padding-top: 90px;
}

footer a {
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
}

/* RESPONSIVE */
@media (max-width: 576px) {
    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }
    
    /* Navbar */
    header .navbar {
        padding: 20px 0;
    }

    header .nav-link {
        margin-left: 0;
    }

    /* Footer */
    footer {
        text-align: center;
    }

    footer #logo {
        justify-content: center;
    }
}